@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-base-100;
}

html {
    @apply scroll-smooth;
    
}

body {
    @apply font-gotham font-light big:text-[20px] big:leading-[30px] md:pw-text-[20px] md:pw-leading-[30px] text-base antialiased text-wund-black;
}

main {
    @apply pt-[80px] md:pw-pt-[130px] big:pt-[130px];
}

a {
    @apply transition-all duration-300 ease-in-out;
}

.container {
    @apply mx-auto px-4 max-w-[100%] md:pw-px-[116px];
}




*[data-color="brand"] {
    @apply text-wund-red font-bold;
}

.label-title {
    @apply bg-wund-red text-white md:pw-pr-[120px] pr-[65px] big:pr-[120px] md:pw-pl-[65px] pl-[30px] big:pl-[65px] md:pw-py-[40px] py-[20px] big:py-[40px] md:pw-rounded-ee-[100px] rounded-ee-[50px] big:rounded-ee-[100px] md:pw-text-[56px] text-[20px] big:text-[56px] leading-[1.2] font-light w-fit;

    @apply md:pw-ml-[-116px] md:pw-pl-[116px] ml-[-16px] pl-[30px];

    strong {
        @apply font-bold;
    }

    *[data-color="brand"] {
        @apply text-white font-bold;
    }
}

.floating-wa {
    @apply fixed top-0 left-0 z-50 flex flex-row items-center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    &__image {
        @apply w-[70px] h-[70px] relative bg-[#4FCC5D] rounded-full;

        img {
            @apply w-[40px] h-[40px] object-contain absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 #{!important};
        }
    }

    &__text {
        @apply text-white text-[19px] font-medium bg-[#4FCC5D] py-[12px] px-[30px] rounded-r-full sm:-ml-[30px] -ml-[20px];
    }

    &:hover {
        @apply opacity-80;
    }

    &.dragging {
        @apply opacity-60;
        cursor: grabbing !important;
        
        // .floating-wa__image {
        //     @apply opacity-70;
        // }
        // .floating-wa__text {
        //     @apply opacity-70;
        // }
    }

    // Mobile responsiveness
    @media (max-width: 768px) {
        &__image {
            @apply w-[60px] h-[60px];
            
            img {
                @apply w-[35px] h-[35px];
            }
        }

        &__text {
            @apply text-[16px] py-[10px] px-[20px];
        }
    }
}

@import "./partials/textstyles";
@import "./partials/header";
@import "./partials/button";
@import "./partials/footer";

@import "./components/form";
@import "./components/home";
@import "./components/product";
@import "./components/articles";