.product {
    &-banner {
        @apply bg-wund-black w-full relative md:min-h-[500px] xl:pw-min-h-[700px] 2xl:pw-min-h-[600px] md:h-[calc(100vh_-_310px)] h-[auto];

        &__image {
            @apply w-full h-full absolute top-0 left-0;

            img {
                @apply w-full h-full object-cover md:object-right-bottom object-center;
            }

            &:after {
                content: '';
                @apply absolute top-0 left-0 w-[60%] h-full;
                @apply opacity-90 mix-blend-screen;
                background: linear-gradient(270deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.06) 4%, rgba(255,255,255,0.34) 25%, rgba(255,255,255,0.57) 45%, rgba(255,255,255,0.76) 63%, rgba(255,255,255,0.89) 78%, rgba(255,255,255,0.97) 91%, #FFF 100%);
                background-blend-mode: screen;
            }
        }

        .container {
            @apply flex flex-col justify-start pt-[80px] md:pb-[80px] pb-[150px] items-start h-full relative z-10;
        }

        &__content {
            @apply relative z-10 max-w-[600px] flex flex-col gap-y-[26px];

            h2 {
                @apply text-wund-red font-bold leading-[1.2];
            }
        }
    }

    &-product-header {
        background: linear-gradient(90deg, #FFF 0%, #FBFAF8 29%, #F7F6F2 46%, #EEEBE3 68%, #E5E1D4 83%);
        &__content {
            @apply flex min-[480px]:flex-row flex-col gap-[20px] gap-y-[40px];
            
        }

        &__image {
            @apply md:pw-min-w-[400px] sm:max-w-[unset] sm:h-auto h-[60px] max-w-[180px] min-w-[180px] big:min-w-[492px] relative;

            img {
                @apply w-full h-auto object-contain absolute top-[unset] md:bottom-[-60px] bottom-[-30px] left-0 #{!important};
            }
        }
        .container {
            @apply flex md:flex-row flex-col sm:gap-y-[40px] gap-y-[20px] justify-between pt-[37px] pb-[40px] md:items-end items-start;
            
            h2 {
                span {
                    @apply md:block;
                }
            }
        }
    }

    &-about {
        .container {
            @apply flex md:flex-row-reverse flex-col-reverse justify-between sm:pt-[137px] pt-[60px] sm:pb-[80px] pb-[60px] gap-y-[40px] items-start;
        }

        &__image {
            @apply relative max-md:max-w-[180px] max-md:mx-auto md:pw-min-w-[449px] min-w-[300px] h-auto;

            img {
                @apply w-full h-auto relative #{!important};
            }
        }

        &__content {
            @apply flex flex-col gap-[50px] flex-grow;

            h2 {
                span {
                    @apply block;
                }
            }

            p {
                @apply md:pw-text-[20px] md:pw-leading-[30px] text-[16px] leading-[1.5];
            }

            &__list {
                @apply flex flex-col gap-[20px];

            }

            &__item {
                @apply flex flex-row items-center;

                &__icon {
                    @apply relative sm:pw-min-w-[90px] min-w-[60px] aspect-square border border-wund-red bg-white rounded-full z-10;

                    img {
                        @apply w-[60%] h-[60%] object-contain absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 #{!important};
                    }
                }

                &__text {
                    @apply flex-grow bg-gradient-to-r bg-white -ml-[20px] relative rounded-full sm:min-h-[98px] min-h-[70px] flex items-center sm:py-[20px] py-[10px] sm:px-[50px] px-[30px];
                    &:before {
                        content: '';
                        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[calc(100%+2px)] h-[calc(100%+2px)]  bg-gradient-to-r from-wund-red to-wund-red/0  rounded-full z-[-1];
                    }

                    p {
                        // @apply max-w-[520px];
                    }
                }
            }
        }
    }

    &-advantage {
        .container {
            @apply relative md:pb-[180px] pb-[60px] items-start;
        }

        &__image {
            @apply relative w-full h-auto aspect-[1440/429];
        }

        &__content {
            @apply md:pw-pt-[95px] big:pt-[95px] pt-[140px];
            &__description {

                ul {
                    @apply list-disc list-outside pl-4 md:columns-2;
                    column-gap: 120px;

                    li {
                        @apply pl-[10px] md:pw-text-[20px] md:pw-leading-[35px] text-[16px] leading-[1.5];
                    }
                }
            }

            &__clinical-data {
                @apply md:mt-[100px] mt-[60px] flex flex-col gap-[50px] bg-[#FBFAF8] border border-wund-red rounded-[35px] md:py-[50px] py-[30px] md:px-[70px] px-[30px];

                &__title {
                    @apply border-b border-wund-red pb-[20px] text-center;
                }
                &__contents {
                    @apply flex flex-col gap-[50px];
                }
                &__content {
                    @apply flex md:flex-row flex-col items-center justify-between md:gap-[100px] gap-[40px];
                    &__title {
                        @apply text-wund-red font-bold md:pw-text-[50px] md:pw-leading-[65px] text-[30px] leading-[1.5];

                        .color {
                            @apply md:pw-text-[80px] md:pw-leading-[80px] text-[60px] leading-[1.5];
                        }
                    }
                    &__image {
                        @apply relative h-auto md:w-[30%] max-w-[80%];

                        img {
                            @apply w-full h-full object-contain relative #{!important};
                        }
                    }

                    &__text {
                        @apply flex-grow md:max-w-[70%];
                    }

                    &__description {

                        p {
                            @apply md:pw-text-[20px] md:pw-leading-[35px] text-[16px] leading-[1.5];
                            strong {
                                @apply font-bold;
                            }

                            em {
                                @apply text-base block leading-[1] -mb-[10px];
                            }

                            @apply mb-[20px] last:mb-0;
                        }
                    }
                }

                .product-advantage__content__clinical-data__contents[data-parent="regeneration-cream"] {
                    .product-advantage__content__clinical-data__content {
                        @apply gap-x-[40px];
                        align-items: unset;
                    }
                    .product-advantage__content__clinical-data__content__image {
                        @apply md:w-[50%] md:max-w-[80%] rounded-[35px] overflow-hidden;

                        img {
                            @apply md:absolute md:object-cover #{!important};
                        }
                    }

                    .product-advantage__content__clinical-data__content__text {
                        @apply md:max-w-[45%];
                    }
                    
                }
                &__note {
                    @apply text-center text-base italic pt-[20px];
                }
            }
        }
    }

    &-fact-figure {
        @apply bg-[url('/imgs/white-bg.png')] md:bg-[100%_auto] bg-[200%_auto] bg-[top_right] py-[80px] bg-no-repeat;
        
        .container {
            @apply flex flex-col gap-[50px];

            h2 {
                @apply text-wund-red font-bold;
            }
        }

        &__items {
            @apply grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-[20px];

            &.odd-grid {
                @apply flex flex-wrap justify-center md:gap-[40px] gap-[20px];
            }

            &__item {
                @apply flex flex-col gap-[26px] min-w-[300px] max-w-[300px] rounded-[35px] shadow-lg p-[40px] bg-white transition-all duration-300 sm:opacity-50 ;
                
                &__image {
                    @apply relative w-full aspect-square border border-wund-red rounded-[35px] bg-white transition-all duration-300 flex items-end pb-[10px] justify-center;
                    
                    img {
                        @apply w-[60%] h-[50%] object-contain transition-opacity duration-300 top-1/2 left-1/2 -translate-x-1/2 -translate-y-[70%] #{!important};
                    }
                }

                &__title {
                    @apply text-wund-red text-base font-bold w-[80%] mx-auto text-center min-h-12 transition-all duration-300;
                }

                &__description {
                    @apply text-base text-center;
                }
                
                &:hover {
                    @apply scale-105 opacity-100;
                    box-shadow: 4px 2px 7px 0px rgb(0, 0, 0, 0.2);
                    .product-fact-figure__items__item__title {
                        @apply text-white;
                    }
                    .product-fact-figure__items__item__image {
                        @apply bg-wund-red;
                    }
                }
            }
        }
    }
    
    &-how-it-works {
        @apply py-[80px];

        .container {
            @apply flex flex-col md:gap-[60px] gap-[40px];

            h2 {
                @apply text-wund-red font-bold;
            }
        }

        &__list {
            @apply flex flex-col md:gap-[40px] gap-[20px] md:px-[60px];

            &__item {
                @apply flex sm:flex-row flex-col md:gap-[40px] gap-[20px];

                &__image {
                    @apply relative md:min-w-[20%] sm:min-w-[300px] min-w-[200px] overflow-hidden aspect-square border-2 border-wund-red rounded-[35px] bg-white;
    
                    img {
                        @apply w-full h-full object-cover;
                    }
                }

                &__description {
                    @apply flex-grow flex flex-col gap-[30px] border-2 border-wund-red rounded-[35px] p-[40px];

                    h4 {
                        @apply text-wund-red font-bold;
                    }

                    p {
                        @apply md:pw-text-[20px] md:pw-leading-[35px] text-[16px] leading-[1.5];
                    }

                }
            }

        }
    }

    &-howto-apply {
        @apply py-[60px];
        .container {
            @apply flex flex-col md:gap-[50px] gap-[30px];

            h2 {
                @apply text-wund-red font-bold;
            }
        }

        &__list {
            @apply grid md:grid-cols-2 grid-cols-1 lg:gap-x-[120px] gap-x-[40px] md:gap-y-[80px] gap-y-[40px];

            &__item {
                @apply pr-[65px] relative mx-auto w-full;

                &__number {
                    @apply absolute top-0 right-0 w-[140px] h-[50px] bg-wund-red text-white text-[20px] rounded-t-[15px] font-bold flex items-center justify-center rotate-90 translate-x-[28px] translate-y-[45px];
                }

                &__content {
                    @apply flex flex-col md:gap-[20px] gap-[10px];
                    &__top-area {
                        @apply flex flex-col items-center gap-[40px] border-2 border-wund-red rounded-[35px] rounded-tr-none p-[40px];

                        &__image {
                            @apply relative w-[90%] aspect-[4/3];
    
                            img {
                                @apply w-full h-full object-contain;
                            }
                        }
                    }


                    &__description {
                        @apply flex-grow text-center font-medium ;

                        p {
                            @apply md:pw-text-[20px] md:pw-leading-[35px] text-[16px] leading-[1.5];
                        }
                    }
                }
            }
        }
    }

    &-how-it-works-two {
        @apply py-[60px];
        .container {
            @apply flex flex-col md:gap-[50px] gap-[30px];

            h2 {
                @apply text-wund-red font-bold;
            }
        }

        &__list {
            @apply grid md:grid-cols-2 grid-cols-1 lg:gap-x-[200px] gap-x-[40px] md:gap-y-[80px] gap-y-[40px];

            &__item {
                @apply pr-[65px] relative mx-auto w-full;

                &__number {
                    @apply absolute top-0 right-0 w-[80px] h-[50px] bg-wund-red text-white text-[20px] rounded-t-[15px] font-bold flex items-center justify-center rotate-90 translate-x-[-2px] translate-y-[14px];
                }

                &__content {
                    @apply flex flex-col;
                    &__top-area {
                        @apply flex flex-col items-center gap-[40px] border-2 border-wund-red rounded-tl-[35px] p-[40px];

                        &__image {
                            @apply relative w-[50%] aspect-square;
    
                            img {
                                @apply w-full h-full object-contain;
                            }
                        }
                    }


                    &__description {
                        @apply flex-grow text-center font-medium bg-wund-red text-white border-2 border-wund-red rounded-b-[35px] py-[30px] px-[40px];
                    }
                }
            }
        }
    }

    &-comparison {
        
        .container {
            @apply md:pb-[130px] pb-[60px] md:pw-pt-[200px] pt-[130px];
            @apply relative;

            .label-title {
                @apply md:mb-[100px] mb-[60px] ;
            }

            .product-comparison__image {
                @apply overflow-x-scroll;

                img {
                    @apply min-w-[800px] h-auto;
                }
            }
        }
    }
}